body {
  background-color: #121A2F;
  color: white;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial";
}

#name {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 75px;
}

#myPhoto {
  /* Center the picture vertically & horizontally. */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid white 4px;
  object-fit: cover;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bio {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
