body {
  background-color: #121A2F;
}

#myPhoto {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid white 4px;
  object-fit: cover;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bio {
  color: #E05C8D;
}
